main = "build/worker/shim.mjs"
name = "phrase-api"
workers_dev = true
compatibility_date = "2022-01-20"

[vars]
WORKERS_RS_VERSION = "0.0.9"

[build]
command = "cargo install -q worker-build && worker-build --release" # required

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]

# read more about configuring your Worker via wrangler.toml at:
# https://developers.cloudflare.com/workers/cli-wrangler/configuration
